#Theory Questions

**ques1.What are data structures, and why are they important?**

Data structures are ways to organize and store data so we can use it efficiently. They're important because they help us manage data better — like finding stuff quickly, sorting it, or updating it easily.

**Ques2.Explain the difference between mutable and immutable data types with examples.**

Mutable means you can change the data after creating it (like lists). Immutable means once it's made, you can't change it (like strings or tuples).
Example:

a = [1, 2, 3]  # list - mutable  
a[0] = 10      # works

b = (1, 2, 3)  # tuple - immutable  
b[0] = 10      # gives error

**Ques3.What are the main differences between lists and tuples in Python?**

Lists can be changed (mutable), tuples can't (immutable).

Tuples are faster and use less memory.

Lists have more features and are used when the data might change.

**Ques4.Describe how dictionaries store data.**

Dictionaries store data using key-value pairs. Think of it like a real dictionary: you look up a word (key) and get its meaning (value).

**Ques5 Why might you use a set instead of a list in Python?**
**bold text**
Use a set when you only want unique values. Sets automatically remove duplicates and are faster when checking if something exists.

**Ques6 What is a string in Python, and how is it different from a list?**

A string is just text (like "hello"). It’s made of characters and can’t be changed. A list can hold anything — numbers, text, even other lists — and you can change it.

**Ques7 How do tuples ensure data integrity in Python?**
Since tuples can't be changed, the data stays safe and unmodified. That’s helpful when you want to make sure no one accidentally edits the data.

**Ques8 What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a behind-the-scenes system that quickly finds values using keys. Python dictionaries use hash tables to work fast when you search by key.

**Ques9 Can lists contain different data types in Python?**
Yes, lists can hold different kinds of data like numbers, strings, and even other lists all in one.

**Ques10 Explain why strings are immutable in Python.**
Strings are immutable because they can't be changed after creation. This helps avoid bugs and makes them safer to use in your code.

**Ques11 What advantages do dictionaries offer over lists for certain tasks?**
Dictionaries are great when you need to label your data and find things quickly using a name instead of a position — like finding someone's phone number by their name.

**Ques12 Describe a scenario where using a tuple would be preferable over a list.**

Use a tuple when your data should not change. For example, storing a person's birthdate or (x, y) coordinates that stay the same.

**Ques13 How do sets handle duplicate values in Python?**
Sets don’t allow duplicates. If you try to add the same value again, it just won’t include it.

**Ques14 How does the “in” keyword work differently for lists and dictionaries?**

In a list, in checks if a value is there.
In a dictionary, in checks if a key is there (not the value).

**Ques15 Can you modify the elements of a tuple? Explain why or why not.**

Nope! Tuples are like sealed boxes. Once you put stuff in, you can't take it out or change it. That's what makes them immutable.

**Ques16 What is a nested dictionary, and give an example of its use case.**
A nested dictionary is a dictionary inside another dictionary.

student = {
  "name": "Alex",
  "marks": {"math": 95, "science": 88}
}

**Ques17 Describe the time complexity of accessing elements in a dictionary.**

It’s super fast — usually takes constant time, which means it doesn’t slow down even if the dictionary gets bigger (average time: O(1)).

**Ques18 In what situations are lists preferred over dictionaries?**

When you just need to keep data in order and don’t need labels. For example, keeping a list of names to print out in order.

**Ques19**
**Why are dictionaries considered unordered, and how does that affect data retrieval?**
Earlier, dictionaries didn’t keep things in the order you added them. Since Python 3.7, they do — but you still get data by key, not by position.

**Ques20 Explain the difference between a list and a dictionary in terms of data retrieval. **

With a list, you get data using numbers (indexes), like my_list[0].
With a dictionary, you get data using names (keys), like my_dict["name"].

#Practical Questions

In [4]:
#1.Write a code to create a string with your name and print it
print("ashish Soni")

ashish Soni

In [5]:
#2.Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [7]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
x="Python Programming"
print(x[:3])

Pyt

In [9]:
#4.Write a code to convert the string "hello" to uppercase
x="hello"
print(x.upper())

HELLO

In [10]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
x="I like apple"
x.replace("apple","orange")

'I like orange'

In [11]:
#6.Write a code to create a list with numbers 1 to 5 and print it
x=[1,2,3,4,5]
print(x)

[1, 2, 3, 4, 5]

In [12]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
x=[1, 2, 3, 4]
x.append(10)
print(x)

[1, 2, 3, 4, 10]

In [14]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
ls=[1, 2, 3, 4, 5]
ls.remove(3)
print(ls)

[1, 2, 4, 5]

In [15]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
ls=['a', 'b', 'c', 'd']
print(ls[1])

b

In [19]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
ls=[10, 20, 30, 40, 50]
print(ls[::-1])

[50, 40, 30, 20, 10]

In [20]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
x=(100, 200, 300)
print(x)
print(type(x))

(100, 200, 300)
<class 'tuple'>

In [21]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
x=('red', 'green', 'blue', 'yellow')
print(x[1:])

('green', 'blue', 'yellow')

In [22]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)
x=(10, 20, 5, 15)
print(min(x))

5

In [23]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
x=('dog', 'cat', 'rabbit')
print(x.index("cat"))

1

In [25]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in tuple
x=("apple","fruits","kiwi")
print("kiwi" in x)

True

In [27]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
x={"a","b","c"}
print(x)

{'b', 'c', 'a'}

In [28]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}
x={1, 2, 3, 4, 5}
x.clear()
print(x)

set()

In [29]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}
x={1, 2, 3, 4}
x.remove(4)
print(x)

{1, 2, 3}

In [30]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
x={1, 2, 3}
y={3, 4, 5}
print(x|y)

{1, 2, 3, 4, 5}

In [31]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
x={1, 2, 3}
y={2, 3, 4}
print(x&y)

{2, 3}

In [32]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
x={"name":"ashish","age":35,"city":"aligarh"}
print(x)

{'name': 'ashish', 'age': 35, 'city': 'aligarh'}

In [34]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
x ={'name': 'John', 'age': 25}
x["country"] = "USA"
print(x)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [36]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
y={'name': 'Alice', 'age': 30}
print(y["name"])

Alice

In [39]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
y={'name': 'Bob', 'age': 22, 'city': 'New York'}
del y["name"]
print(y)

{'age': 22, 'city': 'New York'}

In [42]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
z={'name': 'Alice', 'city': 'Paris'}
print("city" in z)

True

In [1]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
ls=[1,2,"ashish","3+5j"]
tp=(1,2,"rohan","3+7j")
dic={"name":"ashish","age":24}
print(f"list is {ls}, tuple is {tp},dictionary is{dic} ")

list is [1, 2, 'ashish', '3+5j'], tuple is (1, 2, 'rohan', '3+7j'),dictionary is{'name': 'ashish', 'age': 24}

In [45]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)
print(sorted(random_numbers))

[46, 68, 39, 89, 3]
[3, 39, 46, 68, 89]

In [46]:
#28.Write a code to create a list with strings and print the element at the third index.
x=["ashish","rohit","tanishi","rohan"]
print(x[3])

rohan

In [53]:
#29.Write a code to combine two dictionaries into one and print the result.
x={"name":"ashish","age":14}
y={"class":"10","gen":"male"}
x.update(y)
print(x)

x={"name":"ashish","age":14}
y={"class":"10","gen":"male"}
z={**x,**y}
print(z)

{'name': 'ashish', 'age': 14, 'class': '10', 'gen': 'male'}
{'name': 'ashish', 'age': 14, 'class': '10', 'gen': 'male'}

In [54]:
#30.Write a code to convert a list of strings into a set.

x=["ashiish","rohit","sonam","mona"]
z=set(x)
print(z)
print(type(z))

{'sonam', 'mona', 'ashiish', 'rohit'}
<class 'set'>